form(action="" id= id)
	input(type="text" placeholder="productLine")
	input(type="text" placeholder="textDescription")
	input(type="text" placeholder="htmlDescription")
	input(type="text" placeholder="image")
	button(type="submit" class="btn btn-primary") Submit